.vista-posteo {
  padding: 2rem 1rem;
  max-width: 800px;
  margin: auto;
  font-family: 'Roboto Slab', serif;
}

.vista-posteo h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.vista-posteo .fecha {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  display: block;
}

.vista-posteo .imagen-contenedor {
  float: left !important;
  width: 15rem !important;
  margin-right: 1.5rem !important;
  margin-bottom: .5rem !important;
}

.vista-posteo .imagen-contenedor img {
  width: 15rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.vista-posteo p {
  text-align: justify;
  line-height: 1.6;
}